/*--------------------------------------------------------------
# Based on Cruip framework - v1.0.0
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Variables, functions and mixins
--------------------------------------------------------------*/
@import "core/abstracts/functions",
		"settings/settings",
        "core/abstracts/mixins",
        'core/abstracts/include-media';

/*--------------------------------------------------------------
# Normalize
	* normalize.css v7.0.0 | MIT License
	* github.com/necolas/normalize.css
--------------------------------------------------------------*/
@import "core/normalize";

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@import "core/base/fonts";

/*--------------------------------------------------------------
# Scroll reveal
--------------------------------------------------------------*/
@import "core/base/scroll-reveal";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import "core/base/base";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "core/base/typography";

/*--------------------------------------------------------------
# Containers
--------------------------------------------------------------*/
@import "core/elements/containers";

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
@import "core/elements/buttons";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "core/elements/forms";

/*--------------------------------------------------------------
# Hamburger
--------------------------------------------------------------*/
@import "core/elements/hamburger";

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
@import "core/elements/modal";

/*--------------------------------------------------------------
# Split pattern
--------------------------------------------------------------*/
@import "core/patterns/split";

/*--------------------------------------------------------------
# Tiles pattern
--------------------------------------------------------------*/
@import "core/patterns/tiles";

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@import "core/layout/header";

/*--------------------------------------------------------------
# Site content
--------------------------------------------------------------*/
@import "core/layout/main";

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@import "core/layout/footer";

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
@import "core/sections/section";

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
@import "core/sections/hero";

/*--------------------------------------------------------------
# Features split
--------------------------------------------------------------*/
@import "core/sections/features-split";

/*--------------------------------------------------------------
# Features tiles
--------------------------------------------------------------*/
@import "core/sections/features-tiles";

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
@import "core/sections/testimonial";

/*--------------------------------------------------------------
# Call to action
--------------------------------------------------------------*/
@import "core/sections/cta";

/*--------------------------------------------------------------
# Theme
--------------------------------------------------------------*/
@import "theme/theme";

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
@import "core/base/helpers";

.pop-up {
	div {
		h1 {
			font-size: 40px;
			color: white;
			text-align: center;
		}

		div {
			button {
				width: 20%;
				padding: 10px 20px;
				margin: 20px;
				color: color(button-primary);
    			background-color: color-bg(button-primary);
				border: 0px solid color-border(button-primary);

    			&:hover {
        			background-color: color-bg(button-primary-hover);
					border-color: color-border(button-primary-hover);
    			}
			}

			display: flex;
			flex-direction: row;
			width: 100%;
			align-items: center;
			justify-content: center;
			height: fit-content;
		}

		position: relative;
        color: white;
        width: 50vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: get-color(dark,2);
        padding: 20px;
	}

	position: fixed;
    top: 0;
    left: 0;
    color: white;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5),
}

@include media( '<=medium' ) {

	.pop-up {
		div {
			h1 {
				font-size: 30px;
				color: white;
				text-align: center;
			}
	
			div {
				button {
					width: 100%;
					padding: 10px 20px;
					margin: 20px;
					color: color(button-primary);
					background-color: color-bg(button-primary);
					border: 0px solid color-border(button-primary);
	
					&:hover {
						background-color: color-bg(button-primary-hover);
						border-color: color-border(button-primary-hover);
					}
				}
	
				display: flex;
				flex-direction: column;
				width: 100%;
				align-items: center;
				justify-content: center;
				height: fit-content;
			}
	
			position: relative;
			color: white;
			width: 80vw;
			height: 50vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: get-color(dark,3);
			padding: 20px;
		}
	
		position: fixed;
		top: 0;
		left: 0;
		color: white;
		z-index: 50;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgba(0,0,0,0.5),
	}
}

